# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment
venv/
.env

# Database
*.db

# Ignore Vendor Project datasets
01_Vendor Performance Data Analytics End-To-End Project/Data/*.csv
01_Vendor Performance Data Analytics End-To-End Project/Data/*.db

# Logs
*.log

# Temporary files
*.tmp

# OS files
.DS_Store
Thumbs.db