# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment
venv/
.env

# Database
*.db

# Ignore Vendor Project datasets
01_Vendor Performance Data Analytics End-To-End Project/Data/*.csv
01_Vendor Performance Data Analytics End-To-End Project/Data/*.db

# Logs
*.log

# Temporary files
*.tmp

# OS files
.DS_Store
Thumbs.db# Vendor Freight Cost Prediction datasets
0_Vendor Freight Cost Prediction/Data/

# Jupyter checkpoints
**/.ipynb_checkpoints/

# Python cache
**/__pycache__/

# Python compiled files
*.pyc
